{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "endOfLine": "crlf",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true
}
